# requirements.txt

# Framework utama backend
Flask
Flask-Cors

# Database
Flask-SQLAlchemy
Flask-Migrate

# Otentikasi & Keamanan
Flask-Bcrypt
Flask-JWT-Extended
PyJWT

# Konfigurasi & Lingkungan
python-dotenv

# Machine Learning & Data
scikit-learn
joblib
pandas
numpy

# Frontend & Komunikasi API
streamlit
requests
altair